<html>
    <title>Блог Никиты Пашкова</title>
    <h1>Блог Никиты Пашкова</h1>
    <li class="articles-list">
        <ul class="article">
            <h2 class="article__title">
                Title 1
            </h2>
            <h3 class="article__annotate">
                Annotation 1
            </h3>
            <p>test</p>
        </ul>
        <ul class="article">
            <h2 class="article__title">
                Title 2
            </h2>
            <h3 class="article__annotate">
                Annotation 2
            </h3>
            <p>test</p>
        </ul>
    </li>
</html>